.pre code {
  background: none;
  padding: 0;
  margin: 0;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: none;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.scrollable::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.3);
}
